<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power</title>
</head>
<body>
    
    <div>
        Base = {{ base }}
    </div>

    <div>
        Exponent = {{ exponent }}
    </div>

    <div>
        Output = {{ value }}
    </div>

</body>
</html>
